#KnowMore .bgImageContainer {
  position: absolute;
  width: 100vw;
  height: 100%;
  opacity: 40%;
  background-image: url("backgrounds/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4px) sepia(100%) brightness(32%) hue-rotate(229deg) saturate(534%) contrast(122%);
  z-index: -1;
}

.topGradient {
  top: 0;
  width: 100vw;
  height: 15vh;
  position: absolute;
  background: linear-gradient(0deg, transparent, black);
  z-index: 4;
}

main {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  padding: 3vh;
  width: 100vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vh;
}

@media (max-width: 440px) {
  #KnowMore .KnowMoreTopTexts {
    font-family: "Michroma", sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 0.5rem;
  }
  #KnowMore .KnowMoreTopTexts h2 {
    background-image: linear-gradient(0deg, #717171, #ffffff);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    font-size: calc(clamp(0.8rem, 3vw, 3rem) * 0.8);
    letter-spacing: 0.2rem;
    font-weight: 400;
  }
  #KnowMore section:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
  }
  #KnowMore section:nth-child(2) h4 {
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    justify-self: end;
    font-size: calc(clamp(0.8rem, 3vw, 3rem) * 0.7);
  }
  #KnowMore section:nth-child(2) article {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-self: center;
    gap: 4vh;
    text-align: center;
  }
  #KnowMore section:nth-child(2) article p {
    font-size: calc(clamp(0.8rem, 3vw, 3rem) * 0.8);
    font-weight: 100;
    color: rgba(255, 255, 255, 0.5960784314);
    font-family: "Montserrat", sans-serif;
    line-height: 1.3rem;
  }
  #KnowMore section:nth-child(2) article .buttonsContainer {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 440px) and (max-width: 840px) {
  #KnowMore .KnowMoreTopTexts {
    font-family: "Michroma", sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 0.5rem;
  }
  #KnowMore .KnowMoreTopTexts h2 {
    background-image: linear-gradient(0deg, #717171, #ffffff);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    font-size: calc(clamp(0.8rem, 3vw, 3rem) * 1.2);
    letter-spacing: 0.2rem;
    font-weight: 400;
  }
  #KnowMore section:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    flex-direction: row;
  }
  #KnowMore section:nth-child(2) h4 {
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    justify-self: end;
    font-size: calc(clamp(0.8rem, 3vw, 3rem) * 0.7);
  }
  #KnowMore section:nth-child(2) article {
    width: 60%;
    display: flex;
    flex-direction: column;
    place-self: center;
    gap: 4vh;
  }
  #KnowMore section:nth-child(2) article p {
    font-size: calc(clamp(0.8rem, 3vw, 3rem) * 0.8);
    font-weight: 100;
    color: rgba(255, 255, 255, 0.5960784314);
    font-family: "Montserrat", sans-serif;
    line-height: 1.3rem;
  }
  #KnowMore section:nth-child(2) article .buttonsContainer {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 841px) {
  #KnowMore .KnowMoreTopTexts {
    font-family: "Michroma", sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 0.5rem;
  }
  #KnowMore .KnowMoreTopTexts h2 {
    background-image: linear-gradient(0deg, #717171, #ffffff);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    width: -moz-fit-content;
    width: fit-content;
    font-size: clamp(1.5rem, 3.36vw, 3rem);
    letter-spacing: 0.2rem;
    font-weight: 400;
  }
  #KnowMore .KnowMoreTopTexts h2:nth-child(1) {
    align-self: flex-end;
  }
  #KnowMore .KnowMoreTopTexts h2:nth-child(2) {
    align-self: flex-start;
  }
  #KnowMore section:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
  }
  #KnowMore section:nth-child(2) h4 {
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    justify-self: end;
    font-size: clamp(0.5rem, 1.5vw, 1rem);
  }
  #KnowMore section:nth-child(2) article {
    width: 60%;
    display: flex;
    flex-direction: column;
    place-self: center;
    gap: 4vh;
  }
  #KnowMore section:nth-child(2) article p {
    font-size: clamp(0.5rem, 1.5vw, 1rem);
    font-weight: 100;
    color: rgba(255, 255, 255, 0.5960784314);
    font-family: "Montserrat", sans-serif;
    line-height: 1.3rem;
  }
  #KnowMore section:nth-child(2) article .buttonsContainer {
    display: flex;
    align-items: center;
  }
}/*# sourceMappingURL=KnowMoreStyle.css.map */