@import '../../../../variaveisDeEstilo/variaveisDeEstilo'

.CollectorCard

    display: flex
    align-items: center
    // background-image: linear-gradient(90deg, #000000a5, #0000007c)
    border-radius: 8px
    color: $gray
    text-decoration: none
    overflow: hidden
    position: relative
    &:hover
        background-color:  #00000070
    p
        font-family: $font-1
        
    .cardBanner
        position: absolute
        left: 0
        width: 100%
        min-height: 100%
        z-index: -10
        mask-image: radial-gradient(#000000a5, transparent)
        
            

    .cardImgContainer
        aspect-ratio: 1/1
        display: flex
        justify-content: center
        align-items: center
        overflow: hidden
        border-radius: 100%

        img
            display: flex
            width: 100%
            transition: ease .2s
            &:hover
                scale: 1.1

    span

        h4
            
            font-family: $font-1
            margin-bottom: 4%
    

@media ( max-width: 440px )
    .CollectorCard        
        width: 80vw
        padding-left: 1rem 
        aspect-ratio: 3/.8
        gap: 10px
        p
            font-size: $size-text-tablet
        .cardImgContainer
            width: clamp(0px , 15vw, 3rem)
        span
            h4
                font-size: calc($size-text-phone * 1.2)



@media ( min-width: 440px ) and ( max-width: 840px)
    .CollectorCard
        width: 45vw
        aspect-ratio: 3/1
        padding: 4vw 
        gap: 4vw

        p
            font-size: calc($size-text-tablet * 0.8)
        .cardImgContainer
            height: 100%
        span
            h4
                font-size: $size-text-phone 
        


@media ( min-width: 841px )
    .CollectorCard
        width: 27rem
        display: flex
        padding: 2vw 3vw
        gap: 1vw
        p
            font-size: calc($size-text-laptop/3)
        .cardImgContainer
            width: 3vw

        span
            h4
                font-size: calc($size-text-laptop/3)
        
