#NFTCardPage {
  height: 100%;
  background: none;
  margin: 2vh 0;
}

@media (max-width: 440px) {
  #NFTCardPage {
    margin: 1vh 0;
  }
  #NFTCardPage nav {
    width: -moz-fit-content;
    width: fit-content;
    display: grid;
    grid-template-areas: "title searchBar searchBar searchBar" "filter filter filter filter";
    gap: 4vw;
    align-items: center;
  }
  #NFTCardPage nav h4 {
    grid-area: title;
    font-family: "Michroma";
    font-size: calc(clamp(0.8rem, 3vw, 3rem) * 0.8);
  }
  #NFTCardPage nav .InputContainer {
    grid-area: searchBar;
    border: #ffffff solid 1px;
    width: 100%;
    padding: 2vh 4vw;
    gap: 2vw;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #NFTCardPage nav .InputContainer input {
    color: #ffffff;
    border: none;
    width: 100%;
    background: none;
    height: 100%;
    font-family: "Montserrat", sans-serif;
  }
  #NFTCardPage nav .InputContainer input:focus {
    outline: none;
  }
  #NFTCardPage nav ul {
    grid-area: filter;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
  }
  #NFTCardPage nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #NFTCardPage nav ul li .NavButton {
    font-size: clamp(0.4rem, 3vw, 2rem);
    transition: ease 0.3s;
    background: none;
    border: none;
    color: white;
    border: rgba(255, 255, 255, 0.2431372549) solid 1px;
    border-radius: 100px;
    padding: 0.5rem 1rem;
  }
  #NFTCardPage nav ul li .NavButtonSelected {
    background: rgba(255, 255, 255, 0.1215686275);
  }
  #NFTCardPage nav ul li .buttonBackground {
    background: linear-gradient(rgba(241, 27, 230, 0.462745098), rgba(104, 22, 228, 0.9450980392));
    height: 100%;
    width: 70%;
    position: absolute;
    z-index: -1;
    filter: blur(20px);
  }
  #NFTCardPage .CardsContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: -moz-fit-content;
    height: fit-content;
    gap: 2vw;
    padding: 1%;
  }
  #NFTCardPage .CardsContainer .noArtsSearched {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    font-size: calc(clamp(0.8rem, 3vw, 3rem) / 2);
    font-family: "Michroma", sans-serif;
  }
  #NFTCardPage .CardsContainer .Card {
    border-radius: 8px;
    box-shadow: #bababa 0 0 1px;
    transition: ease 0.2s;
    display: flex;
    flex-direction: row;
    color: #ffffff;
  }
  #NFTCardPage .CardsContainer .Card:hover {
    box-shadow: 0 0 2px #ffffff;
  }
  #NFTCardPage .CardsContainer .Card .imgContainer {
    width: 35vw;
    aspect-ratio: 1/1;
    display: flex;
    overflow: hidden;
    align-items: center;
    border-radius: 8px;
    filter: brightness(100%) contrast(120%);
    transition: 0.2s;
  }
  #NFTCardPage .CardsContainer .Card .imgContainer img {
    display: flex;
    width: 100%;
    transition: 0.2s;
  }
  #NFTCardPage .CardsContainer .Card .imgContainer img:hover {
    scale: 1.2;
  }
  #NFTCardPage .CardsContainer .Card .cardInfos {
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  #NFTCardPage .CardsContainer .Card .cardInfos .cardTopTexts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  #NFTCardPage .CardsContainer .Card .cardInfos .cardTopTexts .CardTitle {
    font-family: "Michroma", sans-serif;
    font-size: calc(clamp(0.8rem, 3vw, 3rem) * 1.2);
  }
  #NFTCardPage .CardsContainer .Card .cardInfos .cardTopTexts p {
    font-family: "Ubuntu Mono", monospace;
    font-size: calc(clamp(0.8rem, 3vw, 3rem) * 1.1);
    max-width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  #NFTCardPage .CardsContainer .Card .cardInfos section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-family: "Ubuntu Mono", monospace;
    font-size: clamp(0.8rem, 3vw, 3rem);
    font-weight: 100;
  }
  #NFTCardPage .CardsContainer .Card .cardInfos section ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 15%;
  }
  #NFTCardPage .CardsContainer .Card .cardInfos section ul li {
    color: #cf25d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #NFTCardPage .CardsContainer .Card .cardInfos section ul li svg {
    height: 5vw;
    fill: #cf25d8;
  }
  #NFTCardPage .CardsContainer .Card .cardInfos section div {
    display: flex;
    flex-direction: column;
    color: #bababa;
  }
}
@media (min-width: 440px) and (max-width: 840px) {
  #NFTCardPage nav {
    width: 100%;
    display: grid;
    grid-template-areas: "title searchBar searchBar searchBar" "filter filter filter filter";
    flex-direction: row;
    justify-content: space-between;
    gap: 4vw;
    align-items: center;
    padding: 1rem;
  }
  #NFTCardPage nav .InputContainer {
    grid-area: searchBar;
    border: #ffffff solid 1px;
    padding: 0 1vw;
    gap: 1vw;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #NFTCardPage nav .InputContainer input {
    color: #ffffff;
    border: none;
    width: 100%;
    background: none;
    height: 100%;
    height: 3rem;
    font-family: "Montserrat", sans-serif;
  }
  #NFTCardPage nav .InputContainer input:focus {
    outline: none;
  }
  #NFTCardPage nav h4 {
    grid-area: title;
    font-family: "Michroma";
    font-size: 2rem;
  }
  #NFTCardPage nav ul {
    grid-area: filter;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  #NFTCardPage nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #NFTCardPage nav ul li .NavButton {
    transition: ease 0.3s;
    background: none;
    color: #ffffff;
    border-radius: 100px;
    padding: 0.5rem 1rem;
    border: rgba(255, 255, 255, 0.2431372549) solid 1px;
  }
  #NFTCardPage nav ul li .NavButtonSelected {
    background: rgba(255, 255, 255, 0.1215686275);
    border: transparent solid 1px;
  }
  #NFTCardPage nav ul li .buttonBackground {
    background: linear-gradient(rgba(241, 27, 230, 0.462745098), rgba(104, 22, 228, 0.9450980392));
    height: 100%;
    width: 70%;
    position: absolute;
    z-index: -1;
    filter: blur(20px);
  }
  #NFTCardPage .CardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: -moz-fit-content;
    height: fit-content;
    gap: 2vw;
    padding: 1%;
  }
  #NFTCardPage .CardsContainer .noArtsSearched {
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    font-size: clamp(0.8rem, 3vw, 3rem);
    font-family: "Michroma", sans-serif;
  }
  #NFTCardPage .CardsContainer .Card {
    border-radius: 8px;
    box-shadow: #bababa 0 0 1px;
    transition: ease 0.2s;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #NFTCardPage .CardsContainer .Card:hover img {
    box-shadow: 0 0 2px #ffffff;
    scale: 1.2;
  }
  #NFTCardPage .CardsContainer .Card .imgContainer {
    width: 18vw;
    aspect-ratio: 1/1;
    display: flex;
    overflow: hidden;
    align-items: center;
    border-radius: 8px;
    filter: brightness(100%) contrast(120%);
    transition: 0.2s;
  }
  #NFTCardPage .CardsContainer .Card .imgContainer img {
    display: flex;
    width: 100%;
    transition: 0.2s;
  }
  #NFTCardPage .CardsContainer .Card .cardInfos {
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 100%;
    color: #ffffff;
  }
  #NFTCardPage .CardsContainer .Card .cardInfos .cardTopTexts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  #NFTCardPage .CardsContainer .Card .cardInfos .cardTopTexts .CardTitle {
    font-family: "Michroma", sans-serif;
    font-size: calc(clamp(0.8rem, 3vw, 3rem) / 1.5);
  }
  #NFTCardPage .CardsContainer .Card .cardInfos .cardTopTexts p {
    font-family: "Ubuntu Mono", monospace;
    font-size: calc(clamp(0.8rem, 3vw, 3rem) / 1.5);
    max-width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  #NFTCardPage .CardsContainer .Card .cardInfos section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-family: "Ubuntu Mono", monospace;
    font-size: calc(clamp(0.8rem, 3vw, 3rem) / 1.5);
    font-weight: 100;
  }
  #NFTCardPage .CardsContainer .Card .cardInfos section ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 15%;
  }
  #NFTCardPage .CardsContainer .Card .cardInfos section ul li {
    color: #cf25d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #NFTCardPage .CardsContainer .Card .cardInfos section ul li svg {
    height: 4vw;
    fill: #cf25d8;
  }
  #NFTCardPage .CardsContainer .Card .cardInfos section div {
    display: flex;
    flex-direction: column;
    color: #bababa;
  }
}
@media (min-width: 841px) {
  #NFTCardPage nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4vw;
    align-items: center;
    padding: 1rem;
  }
  #NFTCardPage nav .InputContainer {
    border: #ffffff solid 1px;
    width: 40%;
    padding: 0 1vw;
    gap: 1vw;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #NFTCardPage nav .InputContainer input {
    color: #ffffff;
    border: none;
    width: 100%;
    background: none;
    height: 100%;
    height: 3rem;
    font-family: "Montserrat", sans-serif;
  }
  #NFTCardPage nav .InputContainer input:focus {
    outline: none;
  }
  #NFTCardPage nav h4 {
    font-family: "Michroma";
    font-size: 2rem;
  }
  #NFTCardPage nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  #NFTCardPage nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #NFTCardPage nav ul li .NavButton {
    transition: ease 0.3s;
    background: none;
    border: none;
    color: white;
    border: rgba(255, 255, 255, 0.2431372549) solid 1px;
    border-radius: 100px;
    padding: 0.5rem 1rem;
  }
  #NFTCardPage nav ul li .NavButtonSelected {
    background: rgba(255, 255, 255, 0.1215686275);
  }
  #NFTCardPage nav ul li .buttonBackground {
    background: linear-gradient(rgba(241, 27, 230, 0.462745098), rgba(104, 22, 228, 0.9450980392));
    height: 100%;
    width: 70%;
    position: absolute;
    z-index: -1;
    filter: blur(20px);
  }
  #NFTCardPage .CardsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 100%;
    gap: 1vw;
    padding: 1%;
  }
  #NFTCardPage .CardsContainer .noArtsSearched {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    font-size: calc(clamp(0.8rem, 3vw, 3rem) / 2);
    font-family: "Michroma", sans-serif;
  }
  #NFTCardPage .CardsContainer .Card {
    border-radius: 8px;
    transition: ease 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #090009;
  }
  #NFTCardPage .CardsContainer .Card:hover {
    background: #100010;
  }
  #NFTCardPage .CardsContainer .Card:hover img {
    scale: 1.1;
  }
  #NFTCardPage .CardsContainer .Card .imgContainer {
    width: 18vw;
    aspect-ratio: 1/1;
    display: flex;
    overflow: hidden;
    align-items: center;
    border-radius: 4px;
    filter: brightness(100%) contrast(120%);
    transition: 0.2s;
  }
  #NFTCardPage .CardsContainer .Card .imgContainer img {
    display: flex;
    width: 100%;
    transition: 0.2s;
  }
  #NFTCardPage .CardsContainer .Card .cardInfos {
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 100%;
  }
  #NFTCardPage .CardsContainer .Card .cardInfos .cardTopTexts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    color: #ffffff;
  }
  #NFTCardPage .CardsContainer .Card .cardInfos .cardTopTexts .CardTitle {
    font-family: "Michroma", sans-serif;
    transform: translateY(10%);
    font-size: calc(clamp(0.8rem, 3vw, 3rem) / 2.2);
  }
  #NFTCardPage .CardsContainer .Card .cardInfos .cardTopTexts p {
    font-family: "Ubuntu Mono", monospace;
    max-width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: calc(clamp(0.8rem, 3vw, 3rem) / 3);
  }
  #NFTCardPage .CardsContainer .Card .cardInfos section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Ubuntu Mono", monospace;
    font-size: calc(clamp(0.8rem, 3vw, 3rem) / 2.7);
    font-weight: 100;
  }
  #NFTCardPage .CardsContainer .Card .cardInfos section ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 15%;
  }
  #NFTCardPage .CardsContainer .Card .cardInfos section ul li {
    color: #cf25d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #NFTCardPage .CardsContainer .Card .cardInfos section ul li svg {
    height: 2vw;
    fill: #cf25d8;
  }
  #NFTCardPage .CardsContainer .Card .cardInfos section div {
    display: flex;
    flex-direction: column;
    color: #bababa;
  }
}/*# sourceMappingURL=NFTCardsStyle.css.map */